/* Base da página */

html{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial;
    padding-top: 55px;
    height: 90%;
    width: 100%;
    display: flex;
    position: relative;
}

/* Header fixo na parte superior da página */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    background-color: rgb(35, 52, 129);
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

h3{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: white;
}

i{
    color: white;
    margin-right: 5px;
}

input{
    background-color: rgb(35, 52, 129);
    border: none;
    color: white;
    padding: 6px;
    margin-right: 20px;
    float: right;
}

input::placeholder {
    color: white;
}

#Pesquisa{
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Conteúdo principal (main) */

.conteudo {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px;
}

/* Seção lateral fixa (aside) */

.secao-lateral {
    position: fixed;
    display: flex;
    top: 50px;
    right: 0px;
    height: 100%;
    width: 320px;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.secao-lateral.aberto {
    transform: translateX(0);
}

.secao-lateral > button {
    position: absolute;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 15px;
    right: 100%;
    border: none;
    padding: 5px 15px;
    background-color: rgb(35, 52, 129);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    height: 36px;
}

/* Lista de itens selecionados (dentro da barra lateral fixa)*/

.lista {
    position: absolute;
    top: 0px;
    right: 0px;
    height: calc(100vh - 55px); 
    width: 300px;
    padding: 20px;
    overflow-y: auto;
    background-color: rgb(35, 52, 129);
}

.vazio {
    color: white;
    margin-bottom: 10px;
}

.rodape-lista {
    margin-top: auto;
    padding-bottom: 20px;
    border-top: 1px solid white;
}

#preco-total {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    text-align: right;
    display: block;
}

.produto-lista {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(76, 108, 249); 
    border-radius: 16px;
    color: white;
    gap: 15px;
}

.produto-lista img {
    height: 100px;
    width: 100px;
    border-radius: 16px;
    background-color: white;
    object-fit: contain;
}

.produto-info-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Alterar quantidade de itens */

.controle-quantidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.controle-quantidade button{
    font-size: 20px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(35, 52, 129);
}

/* Seção de Produtos Mais Populares */

.titulo { 
    padding: 20px 0px;
    font-size: 24pt;
}

.categorias{
    height: 60px;
    width: 100%;
    overflow-x: auto;
    max-width: calc(100vw - 55px);
}

.categorias ul{
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 10px;
}

.categorias li{
    background-color: #2C3E50;
    color: white;
    font-size: 12pt;
    padding: 5px 20px;
    border-radius: 100px;
    margin-right: 15px;
    white-space: nowrap;
    cursor: pointer;
}

li.filtro-ativo {
    background-color: #549ee9;
    color: black;
}

/* Lista dos produtos */

.produtos{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: calc(100vw - 55px);
    margin-bottom: 30px;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(76, 108, 249);
    min-height: 220px;
    min-width: 140px;
    max-width: 120px;
    border-radius: 15px;
    margin-right: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    border: 1px solid rgb(76, 108, 249);
    position: relative;
}

.produto img {
    width: 100%;
    margin: 0px;
    height: 100px;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    box-shadow: 0px 1px 2px rgb(76, 108, 249);
}

.info-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    color: white;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 2px;
    padding: 0px 10px;
}

.info-produto .preco {
    font-size: 20px;
}

/* Botão para adicionar a lista (barra lateral) */

.adicionar-home {
    position: absolute;
    right: 8px;
    bottom: 5px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.adicionar-home:hover {
    opacity: 0.8;
}

.add-itens {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

/* Seção de Mercados - Lista de Mercados */

.mercados {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    max-width: calc(100vw - 55px);
}

.mercado {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    width: 150px;
    margin-right: 14px;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 14px;
}


.mercado img{
    margin: 0px;
    width: 120px;
    height: 100px;
    object-fit: contain;
    border-radius: 90px;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    box-shadow: 0px 0px 16px rgb(76, 108, 249);
    margin-bottom: 20px;
}

.mercado p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

/* Página do Produto */

.pagina-detalhes {
    display: flex;
    flex-direction: column;
}

/* (Botão) Voltar a Home Page */

.voltar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14pt;
    line-height: 1;
    width: max-content;
    white-space: nowrap;
    margin-bottom: 20px;
    padding: 15px 0px;
    color: black;
    border: none;
    background-color: white;
}

.voltar i {
    font-size: 15px;
    padding: 0px 20px;
    margin: 0px;
    color: black;
}

/* Seção do Produto */

/* Nome */

.pagina-detalhes > h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.pagina-produto {
    display: flex;
}

/* Imagem */

.pagina-produto > img {
    border: 2px solid black;
    max-height: 400px;
    object-fit: contain;
    max-width: 400px;
    padding: 10px;
    border-radius: 16px;
}

/* Lista de mercados com o produto disponível */

.lista-mercados {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;
    width: calc(25vw - 55px);
}

.produto-mercado {
    margin: 0px 20px;
    margin-bottom: 40px;
    padding: 10px 12px;
    height: 100px;
    width: 800px;
    max-width: calc(60vw - 55px);
    border-radius: 16px;
    display: flex;
    align-items: center;
    background-color: rgba(76, 108, 249, 0.8);
    color: white;
    box-shadow: 3px 4px 2px rgb(76, 108, 249);
    position: relative;
}

/* Imagem e informações */

.produto-mercado img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    border-radius: 16px;
    padding: 10px;
    background-color: white;
    object-fit: contain;
}

.produto-conteudo {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.produto-preco {
    font-size: 32px;
}

/* Botão de adicionar a lista dentro a página do produto */

.adicionar-produto {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 6px;
}

.adicionar-produto:hover {
    opacity: 0.8;
}
